<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css  -->
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Footer</title>
</head>
<body>
    <section class="footer-section ">
      <div class="footer">

        <div class="lacation">
           <div class="spn">
            <span class="iconca-img"><img src="../images/footer-1.png" alt=""></span>

            <span class="text">Yuqori va sifatli <br> elektromobil savdosi</span>
            
           </div>
            <div class="img2"><img src="../images/footer-map.png" alt=""></div>
        </div>

        <div class="kompony">
            <h3>Kompaniyamiz</h3><br>
           <ul>
                 <li> <a href="#">Avtomobillar</a></li>
                 <li> <a href="#">Biz haqimizda</a></li>
                 <li><a href="#">chegirma</a></li>
                 <li><a href="#">yangiliklar</a></li>
                 <li><a href="#">F.A.Q</a></li>
                 <li><a href="#">Fotogalereya</a></li>
           </ul>
        </div>

        <div class="call">
          <h3>ALoqa</h3><br>
          <ul>
               <li> <a href="#">+998995595353</a></li>
               <li> <a href="#">998946776769</a></li>
               <li><a href="#">info@grandtruck.uz</a></li>
               <li><a href="#">info@grandcharge.uz</a></li>
            </ul>
            <br>
            <p>Toshkent shahar Uchtepa <br> tumani 12 uy</p>
          </div>

      </div>
      
     
    </section>
    <div class="box-footer">
      <span class="txt">Copyright © GRAND CHARGE   | Designed by <b>abba  marketing </b> - Powered by
      <b> ABBA</b></span>
   </div> 
</body>
</html>