<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
    <title>Navbar</title>
</head>
<body>
    <section id="navbar">
        <nav>
            <img src="../images/logog.png" alt="logo" width="100px" height="30px">
            <div class="nav">
                <div class="nav-text">
                    <ul>
                        <li><a href="#">Mashinalar</a></li>
                        <li><a href="#">Lizing</a></li>
                        <li><a href="#">Yangiliklar</a></li>
                        <li><a href="#">Adress</a></li>
                        <li><a href="#">Skidka</a></li>
                        <li><a href="#">Yangiliklar</a></li>
                    </ul>
                </div>
                <div class="nav-option">
                    <div class="nav-select">
                        <select>
                            <option value="Uzb" class="option"><img src="../images/uzb.png" alt="uzb" width="20px">Uz</option>
                            <option value="Rus" class="option"><img src="../images/rus.png" alt="rus" width="20px">Ru</option>
                        </select>
                    </div>
                    <div class="nav-phone">
                        <p>+998 99 559 53 53</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="excavator">
            <img src="../images/excavator 1.png" alt="excavator" width="30px" height="30px">
            <p>Howo Sinotruck</p>
            <img src="../images/weight 1.png" alt="weight" width="30px" height="30px">
            <p>15 tonna</p>
        </div>
        <div class="icon">
            <p>batafsil</p>
            <div class="img">
                <img src="../images/Arrow 4.png" alt="Arrow" width="40px" height="15px" >
                <img src="../images/Ellipse 1.png" alt="Ellipse" width="30px" height="30px" id="img">
            </div>
        </div>
    </section>
</body>
</html>